$phone: 767px;
$tablet1:768px;
$tablet2:1365px;
$desk:1366px;
$backShad:rgba(255, 255, 255, 0.96);

.screen-blur{
  @media screen and (max-width:$phone){
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color:$backShad;
  }
  

  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color:$backShad;}
  @media screen and (min-width:$desk) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color:$backShad;}
  }


.screen-blur--visible{
  @media screen and (max-width:$phone){
    display: flex;
  }

  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: flex;}

  @media screen and (min-width:$desk) {
    display: flex;
  }
}

