$phone: 767px;
$tablet1:768px;
$tablet2:1365px;
$desk:1366px;


$borderBlue:#D9FFF5;
$backwhite:#F2F2F2;
$whit:#FFFFFF;
$greytext:#7e7e82;
$anotherBorder:#EAEAEA;
$textcolo:#1B1C21;
$backcol:#F8F8F8;
$overf:725px;
$blueb:#41F6D7;
$backag:#B5B6BC;
$pinkcolo: #FF3E79;
$anotherbord:#B8FFEC;
$grback:#B5B6BC;

.header-brends-prices{
  display: flex;
  flex-direction: row;
  border-top: 1px solid $borderBlue;
  align-items: center;
  background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  height: 56px;

.header-name-prices{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: $greytext;
  @media screen and (max-width:$phone) {
    margin-left: 16px;
  }
  @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
    margin-left: 24px;
  }

  @media screen and (min-width: $desk) {
    margin-left: 30px;
  }
}
}

.button-service{
  display: flex;
 
   &:not(:nth-child(1)) &__categories{
     @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
       display: none;
     }
 
     @media screen and (min-width: $desk) {
       display: none;
     }
   }
 }
 
 
 
 .button-service__wrapper{ 
   @media screen and (max-width: $phone) {
     flex-shrink: 0; 
     width: 260px;
     height: 200px;
     position: relative;
     box-sizing: border-box;
      border: 1px solid $anotherBorder;
     border-radius: 6px;
     background-color: $whit;
     margin-left: 16px;
     margin-top: 16px; 

   }
 
   @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width:100%;
    
   }
 
   @media screen and (min-width: $desk) {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: stretch; 
     width:100%;
   }
 }
   
 
 .button-service__categories{
   color:  $greytext;
   font-size: 14px;
   line-height: 16px;
   font-family: 'TT Lakes';
   
 
   @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
   }
 
   @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
    display: flex;
     flex-direction: row;
    color: $greytext;
     justify-content: space-between;
     align-content: space-between;
     align-items: center;
     font-size: 14px;
     line-height: 18px;
     background-color: $backcol;
     padding: 0;
   
   }
 
   @media screen and (min-width: $desk) {
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     align-content: space-between;
     align-items: center;
     font-size: 14px;
     line-height: 18px;
     background-color: $backcol;
   }
 
 
   &:first-child{
     @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
       height: 63px;
       margin-right: 225px;
       margin-left: 40px;
     
     }
 
 
   @media screen and (min-width: $desk) {
     height: 63px;
       margin-right: 332px;
       margin-left: 56px;
   }
 
   }
 
  
 }
 
 .button-service__category{
 
   @media screen and (max-width: $phone) {
     padding-top: 16px;
     padding-bottom: 25px;
     padding-left: 16px;
   
   }
 
   @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
   flex: 1 0 100px;
   }
 
  &:first-child{
   @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
     flex: 1 0 362px;
   }
   @media screen and (min-width: $desk) {
     flex: 1 0 490px;
   }
  }
 
   @media screen and (min-width: $desk) {
     flex: 1 0 200px;
   }
 
 
   }
 
 
   .button-service__contents{
     color: $textcolo;
     font-size: 14px;
     line-height: 16px;
     font-family: 'TT Lakes';
     display: flex;
   
   
    img {
      width: 24px;
      height: 24px;
    }
   
   
    
    @media screen and (max-width: $phone) { 
      position: absolute; 
      color: $textcolo;
      flex-direction: column;
      height: 100%;
      width: 90%;
      top: 40px;
       }
   
   
    @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
   
     position: static;
     flex-direction: row;
     justify-content: space-between;
    align-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    height: 64px;
    background-color: $whit;
    margin:0 24px;
    border-bottom: 1px solid $anotherBorder;
    padding: 0;
    border-radius: 6px;
    border-top: 1px solid transparent;
    }
   
    @media screen and (min-width: $desk) {
     position: static;
     flex-direction: row;
     justify-content: space-between;
    align-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    height: 64px;
    background-color: $whit;
    margin:0 32px;
    border-bottom: 1px solid $anotherBorder;
    padding: 0;
    border-radius: 6px;
    border-top: 1px solid transparent;
    }
   
   }   


   .button-service__content{
     font-size: 14px;
     line-height: 16px;
     @media screen and (max-width: $phone) { 
     padding-bottom: 40px;
     padding-left: 16px;
     }
     @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
       flex: 1 0 100px;
       align-items: center;
       padding: 16px 0;
     
     }
     
     @media screen and (min-width: $desk) {
       flex: 1 0 200px;
       align-items: center;
       padding: 16px 0;
      
     }
     &:first-child{
       @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
        
       flex: 1 0 362px;
       margin-left: 16px;
       }
     
       @media screen and (min-width: $desk) {
         flex: 1 0 490px;
       margin-left: 24px;
       }
     
     
   }   
   &:last-child{
     @media screen and (max-width: $phone) {
     position: absolute;
     bottom: 16px;
     right: -8px;
     }
     @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-right: 16px;
      }
   
      @media screen and (min-width: $desk) {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-right: 24px;
      }
   }
   
   
   &:hover{
     @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
       opacity: 0.7;
     }
   
     @media screen and (min-width: $desk) {
       opacity: 0.7;
     }
   
     @media screen and (max-width: $phone) {
       opacity: 0.7;
     }
   }
   
   }
 
   .button-service__button{
     background-color: $pinkcolo;
     border-radius: 16px;
     border: 1px solid $pinkcolo;
     width: 119px;
     height: 32px;
     display: flex;
     align-items: center;
     justify-content: space-between;

     
 

     &:hover{
       opacity: 0.7;
     }
   
   }
   
   .button__label{
     color: $whit;
     font-size: 12px;
     line-height: 24px;
     font-family: 'TT Lakes';
     font-weight: bold;
     text-transform: uppercase;
     margin-left: 6px;
     text-align: right;
   }
   
   .swiper-container-prices{
    @media screen and (max-width: $phone) {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  } 
 

  .fade-prices{
    @media screen and (max-width: $phone) {
      position: absolute;
      top:0;
     bottom: 0;
      left: 93.5%;
     right: 0;
      height: 100%;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      }
  }

 


.price-list__swiper{
  @media screen and (max-width: $phone) {
    height: 260px;
  }
}

.price-swiper-wrapper{
  @media screen and (max-width: $phone) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: $desk) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
    display: flex;
    flex-direction: column;
  }
}

.swiper-pagination-bullet {
  @media screen and (max-width: $phone) {
  position: relative;
  top:-5px;
  width: 12px;
  height: 12px;
 background-color: $grback;
}

@media screen and (min-width: $desk) {
  display: none;
  }
  @media screen and (min-width: $tablet1) and (max-width: $tablet2) {
    display: none;
    }


}
