$phone: 767px;
$tablet1:768px;
$tablet2:1365px;
$desk:1366px;

$borderBlue:#D9FFF5;
$backwhite:#F2F2F2;
$whit:#FFFFFF;
$greytext:#7e7e82;
$anotherBorder:#EAEAEA;
$textcolo:#1B1C21;
$backcol:#F8F8F8;
$overf:725px;
$blueb:#41F6D7;
$backag:#B5B6BC;
$pinkcolo: #FF3E79;
$anotherbord:#B8FFEC;
$grback:#B5B6BC;

.header-brends{
  display: flex;
  flex-direction: row;
  border-top: 1px solid $borderBlue;
  align-items: center;
  background-image: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  @media screen and (max-width:$phone) {
    height: 80px;
  }
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    height: 56px;
  }
  @media screen and (min-width:$desk) {
    height: 56px;
    
  }
}

.header-name{
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: $greytext;
  @media screen and (max-width:$phone) {
    margin-left: 16px;
  }
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    margin-left: 24px;
  }

  @media screen and (min-width:$desk) {
    margin-left: 30px;
  }
}

.header-menu__btn{
  width:40px;
  height:40px;
  border:none;
  background-color: transparent;
  flex-shrink: 0;
  background-repeat: no-repeat;
}

.btn-go{
  background-image: url("../img/go.svg");
}

.wrapper{
  display: flex;
  flex-direction: column;
  background-color: $backwhite;
  @media screen and (max-width:$phone) {
    height: 145px;
  }

  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    height: 100%;
  }

  @media screen and (min-width:$desk) {
    height: 100%;
  }




.swiper-slide-brends{ 
  height: 72px;
  border: 1px solid $anotherBorder;
  border-radius: 6px;
  background: $whit;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  
  @media screen and (max-width:$phone) {
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 16px; 
    width: 240px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    margin-right: 24px;
    margin-bottom: 16px;
    width: 224px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width:$desk) {
    margin-right: 32px;
    margin-bottom: 16px;
    width: 240px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &:hover{
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      opacity: 0.7;
    }

    @media screen and (min-width:$desk) {
      opacity: 0.7;
    }

    @media screen and (max-width:$phone) {
      opacity: 0.7;
    }

  }
}


.swiper-container-brends{
  @media screen and (max-width:$phone) {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
}


.more__text{
  @media screen and (min-width:$tablet1) and (max-width:$tablet2){
  text-decoration: none;
  color: $textcolo;
  font-size: 16px;
  font-family: 'TT Lakes';
  font-weight: 500;
}

@media screen and (min-width:$desk) {
  text-decoration: none;
    color: $textcolo;
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: 500;
}
}


.fade {
@media screen and (max-width:$phone) {
position: absolute;
top:0;
bottom: 0;
left: 92.5%;
right: 0;
height: 100%;
z-index: 2;
background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
}

.more{
  @media screen and (max-width:$phone) {
  display: none;
 }
 @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: flex;
  margin-left: 24px;
  margin-bottom: 31px;
  cursor: pointer;
  border: transparent;
 width: 143px;
 height: 27px;
 background-color: $backwhite;
 text-align: center;
 align-items: center;
 }

 @media screen and (min-width:$desk) {
  display: flex;
  flex-direction: row;
 margin-left: 32px;
 margin-bottom: 34px;
 cursor: pointer;
 border: transparent;
 width: 143px;
 height: 27px;
 background-color: $backwhite;
 align-items: center;
 
 }

 &:hover{
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    transform: scale(1.05);
  }
  @media screen and (min-width:$desk) {
    transform: scale(1.05);
  }
 }

}

.brend-logo{
  margin-left: 0px;

}


.swiper-pagination-bullet {
  @media screen and (max-width:$phone) {
  position: relative;
  top:-15px;
  width: 12px;
  height: 12px;
 background-color: #B5B6BC;
} }



.swiper-wrapper-brends{
  @media screen and (max-width:$phone) {
    width: 320px;
   height: 72px;
   flex-wrap: nowrap;
    display: flex;
    padding: 0;
    margin-left: 16px;
    margin-top: 16px;
  }
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 24px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 8px;
    list-style: none;
  }

  @media screen and (min-width:$desk) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 32px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 8px;
    list-style: none;
  }

}

.swiper-wrapper-brends::-webkit-scrollbar{
  @media screen and (max-width:$phone) {
  display: none;
}
}

.hidden li:nth-child(7){
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: none;
}
}
.hidden li:nth-child(8){
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: none;
}
}

.hidden li:nth-child(9){
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: none;
}
@media screen and (min-width:$desk) {
  display: none;
}
}

.hidden li:nth-child(10){
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: none;
}
@media screen and (min-width:$desk) {
  display: none;
}
}

.hidden li:nth-child(11){
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  display: none;
}
@media screen and (min-width:$desk) {
  display: none;
}
}
}

.moreButton-hide{
  transform: rotate(0deg);
}

.moreButton-expand{
  transform: rotate(180deg);
}

