$phone: 767px;
$tablet1:768px;
$tablet2:1365px;
$desk:1366px;

$borderBlue:#D9FFF5;
$backwhite:#F2F2F2;
$whit:#FFFFFF;
$greytext:#7e7e82;
$anotherBorder:#EAEAEA;
$textcolo:#1B1C21;
$backcol:#F8F8F8;
$overf:725px;
$blueb:#41F6D7;
$backag:#B5B6BC;
$pinkcolo: #FF3E79;
$anotherbord:#B8FFEC;
$grback:#B5B6BC;


.mobile-page{
  background-color:$backwhite;
  width: 320px;
  margin: 0 auto;
  font-family: 'TT lakes';
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  @media screen and (max-width:$phone){
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
   opacity: 0;
   visibility: hidden;
   transform: translate(-100%, 0px);
   transition: all 0.5s ease-in-out;
    z-index: 4;
    }

    @media screen and (min-width:$tablet1)  and (max-width:$tablet2){
      position: fixed;
      top:0;
      left: 0;
      height: 100vh;
     opacity: 0;
     visibility: hidden;
     transition: all 0.6s ease-in-out;
     transform: translate(-100%, 0px);
     z-index: 4;
     box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    }
    
    @media screen and (min-width:$desk) {
      position: fixed;
      height: 100vh;
      z-index: 2;
      position: absolute;
  
    }

    @media screen and (max-height:$overf){
      overflow: auto;
    }  
    }

    .mobile-page::-webkit-scrollbar{
      @media screen and (max-height:$overf){
      display: none;
    }
  }



  .main-mobile-list{
    @media screen and (min-width:$desk) {
    margin-top: 28px;
   }
  }


.header__mobile-menu{
  display: flex;
  flex-direction: row;
  height: 116px;
  margin-left: 24px;
  margin-right: 24px;
  @media screen and (max-width:$phone){
    height: 96px;
  }
  @media screen and (min-width:$desk){
    justify-content: space-between;
    margin-right: 28px;
    margin-left: 22px;
    height: 100px;
    margin-top: 7px;
    
  }
  @media screen and (min-width:$tablet1)  and (max-width:$tablet2){
    height: 120px;
  }
}

.header-menu-icon-burger:first-of-type{
  margin-top: 23px;
}
.header-menu-icon-burger:last-of-type{
  margin-top: 23px;
}

.header-menu__btn-burger{
  width:40px;
  height:40px;
  padding-left: 0px;
  padding-right: 0px;
  border:none;
  box-sizing: border-box;
  background-color:transparent;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}



.btn-close{
  background-image: url("../img/burger2.svg");
 
  @media screen and (min-width:$desk) {
    display: none;
  }
}

.btn-close:hover{
  opacity: 0.5;
}
.btn-search{
  background-image: url("../img/search.svg");
}

.btn-search:hover{
  opacity: 0.5;
}

.header-menu-logo-burger{
  background-image: url("../img/Group.svg");
  width: 97px;
  height: 51px;
  margin-left: 17px;
  margin-right: 79px;
  margin-top: 19px;
  cursor: pointer;
}

.header-menu-logo-burger:hover{
  filter: drop-shadow(0 0 1.3px);
}



.main-mobile-navigation{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  flex-grow: 1;
}

  li{
  
   text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
  padding: 0;
  height: 24px;
    
}

.list-burger{
  @media screen and (max-width:$phone){
  margin-bottom: 24px;
  background-color: $backwhite;
}

  @media screen and (min-width:$tablet1)  and (max-width:$tablet2){
    margin-bottom: 32px;
    background-color: $backwhite;
  }

  @media screen and (min-width:$desk) {
    margin-bottom: 28px;
    background-color: $backwhite;
  }
}


.main-mobile-text{
  text-decoration: none;
  color:$textcolo;
  padding-left: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover{
    color: $greytext;
    border-left: 4px solid $blueb;
    padding-left: 24px; 
    
  }
  
}


.btn-call-burger{
  background-image: url("../img/call.svg");
  cursor: pointer;
}

.btn-call-burger:hover{
  opacity: 0.5;
}

.btn-chat-burger{
  background-image: url("../img/chat.svg");
  cursor: pointer;
}
.btn-chat-burger:hover{
  opacity: 0.5;
}

.btn-profile-burger{
  background-image: url("../img/profile.svg");
  cursor: pointer;
}

.btn-profile-burger:hover{
  opacity: 0.5;
}

.menu-icon-burger{
   margin-right: 16px;
}

.mobile-contact{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  align-items: flex-start;
  @media screen and (max-width:$phone){
    margin-top: 8px;
  }
}

.footer-email{
  margin-top: 16px;
  margin-bottom: 12px;
  line-height: 24px;
  font-size: 16px;
  cursor: pointer;
  
}

.footer-email:hover{
  transform: scale(1.4);
  text-decoration: underline;
  margin-left: 17px;
}

.footer-phone{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.footer-phone:hover{
text-decoration: underline;
transform: scale(1.1);

}

.footer-language{
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 25px;
  @media screen and (max-width:$phone){
    margin-top: 8px;
  }
}
.launguage:hover{
  border-left:none;
  color:#7E7E82;
  transform: scale(1.2);
}

.launguage{
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: $textcolo;
}



.mobile-page--hidden{
  @media screen and (max-width:$phone){
 display: flex;
 opacity: 1;
 visibility: visible;
 transform: translate(0px, 0px);
}

@media screen and (min-width:$tablet1)  and (max-width:$tablet2){
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}

@media screen and (min-width:$desk) {
  display: none;
}

}

.header--hidden { 
  @media screen and (max-width:$phone){
  display: none;
}

@media screen and (min-width:$tablet1) and (max-width:$tablet2){
  display: none;
 }
 @media screen and (min-width:$desk) {
  display: none;
}

}

.head--hidden{ 
  @media screen and (max-width:$phone){
  display: none;
}

@media screen and (min-width:$tablet1) and (max-width:$tablet2){
  display: none;
 }
 @media screen and (min-width:$desk) {
  display: none;
 }
}



.bodyOverflow{
overflow: hidden;

}



