$phone: 767px;
$tablet1:768px;
$tablet2:1365px;
$desk:1366px;

$borderBlue:#D9FFF5;
$backwhite:#F2F2F2;
$whit:#FFFFFF;
$greytext:#7e7e82;
$anotherBorder:#EAEAEA;
$textcolo:#1B1C21;
$backcol:#F8F8F8;
$overf:725px;
$blueb:#41F6D7;
$backag:#B5B6BC;
$pinkcolo: #FF3E79;
$anotherbord:#B8FFEC;
$grback:#B5B6BC;

.button-commercial-offer {
  font-size: 14px;
  line-height: 20px;
  font-family: 'TT Lakes';
  color: $textcolo;
  }
  
  .button-commercial-offer__description{
    @media screen and (max-width:$phone) {
    width: 288px;
    margin-left: 16px;
    height: 117px;
    margin: 0 16px;
   }
  
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      width: 421px;
      margin: 24px 24px;
    }
  
    @media screen and (min-width:$desk) {
      width: 421px;
      margin: 0 32px;
      margin-top: 32px;
    }
  }
  
  
  .footer__copyright{
  font-size: 14px;
  line-height: 20px;
  font-family: 'TT Lakes';
  color: $textcolo;
  text-align: center;
  
  @media screen and (max-width:$phone) {
    margin-bottom: 16px;
    margin-top: 16px;
    height: 32px;
  }
      @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
    height: 32px;
    line-height: 16px;
  }
  @media screen and (min-width:$desk) {
    height: 32px;
    line-height: 16px;
  }
  }
  
  .footer__privacy-policy{
    font-size: 14px;
    line-height: 20px;
    font-family: 'TT Lakes';
    color: $textcolo;
    text-align: center;
  
    @media screen and (max-width:$phone) {
    margin-bottom: 16px;
    height: 16px;
  }
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      height: 16px;
     
    }
    @media screen and (min-width:$desk) {
      height: 16px;
      
    }
  }
  
  .footer__not-public-offer{
    font-size: 14px;
    line-height: 20px;
    font-family: 'TT Lakes';
    color: $textcolo;
    @media screen and (max-width:$phone) {
    text-align: center;
    margin-bottom: 19px;
    height: 32px;
  }
  
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      height: 48px;
      line-height: 16px;
    }
    @media screen and (min-width:$desk) {
      height: 32px;
      width: 330px;
      line-height: 16px;
    }
  }
  
  .button-commercial-offer__text{
    font-size: 16px;
    font-family: 'TT Lakes';
    color: $textcolo;
    font-weight: 500;
  }
  
  .footer{
    display: flex;
    border-top: 1px solid $borderBlue;
    align-items: center;
    justify-content: space-between;
    background-image: $backcol;
  
    @media screen and (max-width:$phone) {
      flex-direction: column;
      height: 147px;
    }
  
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      flex-direction: row;
      height: 105px;
      margin: 0 24px;
    }
  
    @media screen and (min-width:$desk) {
      flex-direction: row;
      height: 85px;
      margin: 0 32px;
    }
  }
  
  
  .button-commercial-offer__button{
  
    @media screen and (max-width:$phone) {
   width: 198px;
   height: 54px;
   border: 1px solid transparent;
   background-color: $backcol;
   padding: 0;
   margin-left: 16px;
   margin-bottom: 40px;
   text-align: start;
  
   img{
     transform: translateY(8px);
   }
    }
  
  
  @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
  border: 1px solid transparent;
   background-color: $backcol;
   display: flex;
   width: 340px;
   height: 24px;
   padding: 0;
   margin-left: 24px ;
   margin-top: 16px;
   display: flex;
   align-items: center;
   margin-bottom: 47px;
  
  
  }
  
  @media screen and (min-width:$desk) {
    border: 1px solid transparent;
    background-color: $backcol;
    display: flex;
    width: 340px;
    height: 24px;
    padding: 0;
    margin-left: 32px ;
    margin-top: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  
   
  }
  
  &:hover{
    opacity: 0.7;
    transform: scale(1.05) translateX(5px);
  }

  }
  
  
  
  .footer__not-public-offer{
  
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      width: 213px;
    }
  }
  
  .footer__privacy-policy{
    @media screen and (min-width:$tablet1) and (max-width:$tablet2) {
      width: 213px;
    }
  
  }